@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --header: rgb(33, 49, 77);
    --text: rgb(132, 138, 154);
    --body_background: rgb(210, 222, 236);
    --card_background: white;

}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body_background);
    font-family: 'Cabin', sans-serif;
}

.main{
    width: 100%;
    height: 100%;
    
}

.qrContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    height: 420px;
    background-color: var(--card_background);
    padding: 15px;
    border-radius: 20px;
}

.qrContainer__image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.qrContainer__boxData{
    padding: 10px;
    text-align: center;
}

.qrContainer__boxData_title{
    color: var(--header);
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.qrContainer__boxData_description{
    font-size: 1.3rem;
    color: var(--text);
    font-weight: 400;
}